.container {
  min-height: calc(100vh - 350px);
  position: relative;
  z-index: 1;
  padding-bottom: 80px;

  @mixin light {
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }
}

.wrapper {
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);
  padding-top: var(--mantine-spacing-xl);

  @media (max-width: $content-breakpoint) {
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-xl);
  }
}

.content {
  width: 100%;
  max-width: calc($content-width + $table-content-width);
  margin-left: auto;
  margin-right: auto;
}
